/* GLOBAL RESET */
* {
    background-image: none;
    box-shadow: none;
}

/* WINDOW BACKGROUND */
window {
    
    font-size: 12pt;
    background-color: rgba(10, 10, 10, 0.55);
}

/* BUTTON BASE STYLE */
button {
    border-radius: 25px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.65);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28%;
    border-color: #ced7ff;
    margin: 8px;
    padding: 28px;
    transition: 0.18s ease-out;
}

/* NEON HOVER EFFECT */
button:hover
{
    background-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 10px #00c8ff,
                0 0 22px #009dff,
                0 0 40px #007bff;
    border-color: #00aaff;
    background-size: 35%;
    outline: none;
}

/* ICONS */
#lock {
    background-image: url("/usr/share/wlogout/icons/lock.png");
}

#logout {
    background-image: url("/usr/share/wlogout/icons/logout.png");
}

#shutdown {
    background-image: url("/usr/share/wlogout/icons/shutdown.png");
}

#reboot {
    background-image: url("/usr/share/wlogout/icons/reboot.png");
}
#suspend {
    background-image: url("/usr/share/wlogout/icons/suspend.png");
}
